@import './login-constants';

.login-light {
    @include login-constants();

    background-color: rgb(245, 245, 245);

    input {
        border-color: rgb(230, 230, 230);
    }

    button {
        background-color: white;
        &:hover {
            background-color: rgb(245, 245, 245);
        }
    }
}