@import './notebook-constants';

.notebook-dark {    
    @include notebook-constants;
    color: rgb(205, 205, 205);
    background-color: rgb(48, 48, 48);
    
    .modal {
        background-color: rgb(40, 40, 40);

        textarea {
            color: rgb(205, 205, 205);
            background-color: rgb(40, 40, 40);
        }

        ::-webkit-scrollbar-track {
            background: rgb(40, 40, 40);
        }
        
        ::-webkit-scrollbar-thumb {
            background: rgb(57, 57, 57);
        }
        
        ::-webkit-scrollbar-thumb:hover {
            background: rgb(57, 57, 57);
        }
    }

    .new-note {
        form {
            input, textarea {
                border-color: rgb(57, 57, 57);
            }
        }
    }

    .main-content {
        background-color: rgb(40, 40, 40);

        .white {
            border-color: rgb(57, 57, 57);
            background-color: rgb(48, 48, 48);
        }
    
        .red {
            border-color: rgb(79, 30, 30);
            background-color: rgb(65, 24, 24);
        }
    
        .green {
            border-color: rgb(30, 79, 32);
            background-color: rgb(29, 65, 24);
        }
    
        .blue {
            border-color: rgb(30, 36, 79);
            background-color: rgb(24, 27, 65);
        }
    
        .yellow {
            border-color: rgb(77, 79, 30);
            background-color: rgb(65, 65, 24);
        }
    }

    input {
        color: rgb(205, 205, 205);
        border-color: rgb(57, 57, 57);
        background-color: rgb(40, 40, 40);
    }

    button {
        border-color: rgb(57, 57, 57);
        background-color: rgb(40, 40, 40);
        &:hover {
            background-color: rgb(57, 57, 57);
        }
    }

    select {
        color: rgb(205, 205, 205);
        border-color: rgb(57, 57, 57);
        background-color: rgb(40, 40, 40);
    }
}