@mixin notebook-constants {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    text-align: center;

    .modal-bg {
        width: 100vw;
        height: 100vh;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;
        background-color: rgba(0, 0, 0, 0.3);
    }
    
    .modal {
        width: 70vw;
        height: 70vh;
        min-height: 25rem;
        box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
        position: relative;
        z-index: 1000;
        border-radius: 15px;
        text-align: right;

        ::-webkit-scrollbar {
            width: 10px;
        }

        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 90%;
            margin-left: 5%;
            margin-right: 5%;

            input {
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;
                font-size: 1.5rem;
                width: 100%;
                margin-left: 0;
                margin-right: 0;
                border: none;
            }

            textarea {
                width: 100%;
                border: none;
                height: 100%;
                font-family: Arial, Helvetica, sans-serif;
                resize: none;
                font-size: 1rem;
            }
        }

        .modal-delete {
            margin-right: 4%;
            margin-top: 2%;
            cursor: pointer;
        }
    }

    .new-note {
        form {
            input, textarea {
                border: 1px solid;
            }

            textarea {
                border-radius: 10px;
                width: 100.5%;
                padding-left: 10px;
                padding-top: 10px;
            }
        }
    }

    .column-left {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100vh;
        min-width: 20rem;
        
        .top {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }

        .bottom {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 2rem;
        }

        img {
            margin-top: 2rem;
            margin-bottom: 2rem;
        }

        h1 {
            margin-bottom: 2rem;
        }

        #new-note {
            border-color: #84bfd9;
            margin-bottom: 2rem;
            height: 2.5rem;
            font-weight: bold;

            display: flex;
            justify-content: center;
            align-items: center;
            
            span {
                font-size: 2rem;
                margin-right: .5rem;
            }
        }
    }

    .main-content {
        min-height: 100vh;
        width: 100vw;
        min-width: 40rem;

        .pinned {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding-left: 3.2rem;
            padding-right: 3.2rem;
            margin-bottom: 2rem;
        }

        .unpinned {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding-left: 3.2rem;
            padding-right: 3.2rem;
            margin-bottom: 3rem;
        }

        .note-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .notecard-content {
            height: 50%;
        }
        
        .notecard {
            text-align: left;
            width: 15rem;
            height: 19rem;
            border: 1px solid;
            border-radius: 10px;
            padding: 15px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-right: 1rem;
            margin-bottom: 1rem;
            overflow: hidden;

            .notecard-title {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
            }

            h2 {
                font-size: 1.5rem;
                margin-bottom: .5rem;
            }

            .notecard-taskbar {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }

            .icon {
                cursor: pointer;
            }

            .colors {
                display: flex;
                flex-direction: row;
            }

            .circle {
                height: 10px;
                width: 10px;
                border-radius: 50%;
                border: solid 1px;
                margin-left: 1.5px;
                margin-right: 1.5px;
                cursor: pointer;
            }
        }

        .acct-settings {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h1 {
                margin-top: 4rem;
                margin-bottom: 2rem;
            }

            form {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                input {
                    margin: .75rem;
                }

                h2 {
                    margin-bottom: .3rem;
                }
            }
        }

        h3 {
            color: grey;
            margin-bottom: 1.2rem
        }
    };

    input {
        margin: 2rem;
        border: 1px solid;
        border-radius: 10px;
        height: 1.5rem;
        width: 90%;
        padding: .5rem;
    }

    button {
        color: gray;
        margin-top: .3rem;
        text-align: center;
        border: 1px solid;
        border-radius: 10px;
        height: 2rem;
        width: 10rem;
    }

    select {
        color: gray;
        text-align: center;
        border: 1px solid;
        border-radius: 10px;
        height: 2.6rem;
        width: 100%;      
        padding: .5rem;
    }
}