/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.login-light {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: whitesmoke;
}

.login-light img {
  margin-top: -4rem;
  margin-bottom: 2.5rem;
}

.login-light input {
  text-align: center;
  margin: .3rem;
  border: 1px solid;
  border-radius: 10px;
  height: 1.5rem;
  padding: .5rem;
}

.login-light button {
  color: gray;
  margin-top: .3rem;
  text-align: center;
  border: 1px solid;
  border-color: #e6a7a7;
  border-radius: 10px;
  height: 2rem;
}

.login-light p {
  color: #ac6767;
}

.login-light #login {
  width: 10.5rem;
  margin-top: 1rem;
}

.login-light #signup {
  width: 10.5rem;
  border-color: #84bfd9;
}

.login-light input {
  border-color: #e6e6e6;
}

.login-light button {
  background-color: white;
}

.login-light button:hover {
  background-color: whitesmoke;
}

.login-dark {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #303030;
}

.login-dark img {
  margin-top: -4rem;
  margin-bottom: 2.5rem;
}

.login-dark input {
  text-align: center;
  margin: .3rem;
  border: 1px solid;
  border-radius: 10px;
  height: 1.5rem;
  padding: .5rem;
}

.login-dark button {
  color: gray;
  margin-top: .3rem;
  text-align: center;
  border: 1px solid;
  border-color: #e6a7a7;
  border-radius: 10px;
  height: 2rem;
}

.login-dark p {
  color: #ac6767;
}

.login-dark #login {
  width: 10.5rem;
  margin-top: 1rem;
}

.login-dark #signup {
  width: 10.5rem;
  border-color: #84bfd9;
}

.login-dark input {
  color: #cdcdcd;
  border-color: #393939;
  background-color: #282828;
}

.login-dark button {
  background-color: #282828;
}

.login-dark button:hover {
  background-color: #393939;
}

.signup-dark {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #303030;
}

.signup-dark input {
  text-align: center;
  margin: .3rem;
  border: 1px solid;
  border-radius: 10px;
  height: 1.5rem;
  padding: .5rem;
}

.signup-dark button {
  color: gray;
  margin-top: .3rem;
  text-align: center;
  border: 1px solid;
  border-radius: 10px;
  height: 2rem;
  width: 6rem;
}

.signup-dark p {
  color: #ac6767;
}

.signup-dark input {
  color: #cdcdcd;
  border-color: #393939;
  background-color: #282828;
}

.signup-dark button {
  border-color: #393939;
  background-color: #282828;
}

.signup-dark button:hover {
  background-color: #393939;
}

.signup-light {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: whitesmoke;
}

.signup-light input {
  text-align: center;
  margin: .3rem;
  border: 1px solid;
  border-radius: 10px;
  height: 1.5rem;
  padding: .5rem;
}

.signup-light button {
  color: gray;
  margin-top: .3rem;
  text-align: center;
  border: 1px solid;
  border-radius: 10px;
  height: 2rem;
  width: 6rem;
}

.signup-light p {
  color: #ac6767;
}

.signup-light input {
  border-color: #e6e6e6;
}

.signup-light button {
  border-color: #e6e6e6;
  background-color: white;
}

.signup-light button:hover {
  background-color: whitesmoke;
}

.notebook-dark {
  min-height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  color: #cdcdcd;
  background-color: #303030;
}

.notebook-dark .modal-bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.3);
}

.notebook-dark .modal {
  width: 70vw;
  height: 70vh;
  min-height: 25rem;
  -webkit-box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1000;
  border-radius: 15px;
  text-align: right;
}

.notebook-dark .modal ::-webkit-scrollbar {
  width: 10px;
}

.notebook-dark .modal form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.notebook-dark .modal form input {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  border: none;
}

.notebook-dark .modal form textarea {
  width: 100%;
  border: none;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  resize: none;
  font-size: 1rem;
}

.notebook-dark .modal .modal-delete {
  margin-right: 4%;
  margin-top: 2%;
  cursor: pointer;
}

.notebook-dark .new-note form input, .notebook-dark .new-note form textarea {
  border: 1px solid;
}

.notebook-dark .new-note form textarea {
  border-radius: 10px;
  width: 100.5%;
  padding-left: 10px;
  padding-top: 10px;
}

.notebook-dark .column-left {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  min-width: 20rem;
}

.notebook-dark .column-left .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.notebook-dark .column-left .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

.notebook-dark .column-left img {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.notebook-dark .column-left h1 {
  margin-bottom: 2rem;
}

.notebook-dark .column-left #new-note {
  border-color: #84bfd9;
  margin-bottom: 2rem;
  height: 2.5rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.notebook-dark .column-left #new-note span {
  font-size: 2rem;
  margin-right: .5rem;
}

.notebook-dark .main-content {
  min-height: 100vh;
  width: 100vw;
  min-width: 40rem;
}

.notebook-dark .main-content .pinned {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 3.2rem;
  padding-right: 3.2rem;
  margin-bottom: 2rem;
}

.notebook-dark .main-content .unpinned {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 3.2rem;
  padding-right: 3.2rem;
  margin-bottom: 3rem;
}

.notebook-dark .main-content .note-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.notebook-dark .main-content .notecard-content {
  height: 50%;
}

.notebook-dark .main-content .notecard {
  text-align: left;
  width: 15rem;
  height: 19rem;
  border: 1px solid;
  border-radius: 10px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 1rem;
  margin-bottom: 1rem;
  overflow: hidden;
}

.notebook-dark .main-content .notecard .notecard-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.notebook-dark .main-content .notecard h2 {
  font-size: 1.5rem;
  margin-bottom: .5rem;
}

.notebook-dark .main-content .notecard .notecard-taskbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.notebook-dark .main-content .notecard .icon {
  cursor: pointer;
}

.notebook-dark .main-content .notecard .colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.notebook-dark .main-content .notecard .circle {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: solid 1px;
  margin-left: 1.5px;
  margin-right: 1.5px;
  cursor: pointer;
}

.notebook-dark .main-content .acct-settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.notebook-dark .main-content .acct-settings h1 {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.notebook-dark .main-content .acct-settings form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.notebook-dark .main-content .acct-settings form input {
  margin: .75rem;
}

.notebook-dark .main-content .acct-settings form h2 {
  margin-bottom: .3rem;
}

.notebook-dark .main-content h3 {
  color: grey;
  margin-bottom: 1.2rem;
}

.notebook-dark input {
  margin: 2rem;
  border: 1px solid;
  border-radius: 10px;
  height: 1.5rem;
  width: 90%;
  padding: .5rem;
}

.notebook-dark button {
  color: gray;
  margin-top: .3rem;
  text-align: center;
  border: 1px solid;
  border-radius: 10px;
  height: 2rem;
  width: 10rem;
}

.notebook-dark select {
  color: gray;
  text-align: center;
  border: 1px solid;
  border-radius: 10px;
  height: 2.6rem;
  width: 100%;
  padding: .5rem;
}

.notebook-dark .modal {
  background-color: #282828;
}

.notebook-dark .modal textarea {
  color: #cdcdcd;
  background-color: #282828;
}

.notebook-dark .modal ::-webkit-scrollbar-track {
  background: #282828;
}

.notebook-dark .modal ::-webkit-scrollbar-thumb {
  background: #393939;
}

.notebook-dark .modal ::-webkit-scrollbar-thumb:hover {
  background: #393939;
}

.notebook-dark .new-note form input, .notebook-dark .new-note form textarea {
  border-color: #393939;
}

.notebook-dark .main-content {
  background-color: #282828;
}

.notebook-dark .main-content .white {
  border-color: #393939;
  background-color: #303030;
}

.notebook-dark .main-content .red {
  border-color: #4f1e1e;
  background-color: #411818;
}

.notebook-dark .main-content .green {
  border-color: #1e4f20;
  background-color: #1d4118;
}

.notebook-dark .main-content .blue {
  border-color: #1e244f;
  background-color: #181b41;
}

.notebook-dark .main-content .yellow {
  border-color: #4d4f1e;
  background-color: #414118;
}

.notebook-dark input {
  color: #cdcdcd;
  border-color: #393939;
  background-color: #282828;
}

.notebook-dark button {
  border-color: #393939;
  background-color: #282828;
}

.notebook-dark button:hover {
  background-color: #393939;
}

.notebook-dark select {
  color: #cdcdcd;
  border-color: #393939;
  background-color: #282828;
}

.notebook-light {
  min-height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  color: #303030;
  background-color: whitesmoke;
}

.notebook-light .modal-bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.3);
}

.notebook-light .modal {
  width: 70vw;
  height: 70vh;
  min-height: 25rem;
  -webkit-box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1000;
  border-radius: 15px;
  text-align: right;
}

.notebook-light .modal ::-webkit-scrollbar {
  width: 10px;
}

.notebook-light .modal form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.notebook-light .modal form input {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  border: none;
}

.notebook-light .modal form textarea {
  width: 100%;
  border: none;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  resize: none;
  font-size: 1rem;
}

.notebook-light .modal .modal-delete {
  margin-right: 4%;
  margin-top: 2%;
  cursor: pointer;
}

.notebook-light .new-note form input, .notebook-light .new-note form textarea {
  border: 1px solid;
}

.notebook-light .new-note form textarea {
  border-radius: 10px;
  width: 100.5%;
  padding-left: 10px;
  padding-top: 10px;
}

.notebook-light .column-left {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  min-width: 20rem;
}

.notebook-light .column-left .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.notebook-light .column-left .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

.notebook-light .column-left img {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.notebook-light .column-left h1 {
  margin-bottom: 2rem;
}

.notebook-light .column-left #new-note {
  border-color: #84bfd9;
  margin-bottom: 2rem;
  height: 2.5rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.notebook-light .column-left #new-note span {
  font-size: 2rem;
  margin-right: .5rem;
}

.notebook-light .main-content {
  min-height: 100vh;
  width: 100vw;
  min-width: 40rem;
}

.notebook-light .main-content .pinned {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 3.2rem;
  padding-right: 3.2rem;
  margin-bottom: 2rem;
}

.notebook-light .main-content .unpinned {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 3.2rem;
  padding-right: 3.2rem;
  margin-bottom: 3rem;
}

.notebook-light .main-content .note-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.notebook-light .main-content .notecard-content {
  height: 50%;
}

.notebook-light .main-content .notecard {
  text-align: left;
  width: 15rem;
  height: 19rem;
  border: 1px solid;
  border-radius: 10px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 1rem;
  margin-bottom: 1rem;
  overflow: hidden;
}

.notebook-light .main-content .notecard .notecard-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.notebook-light .main-content .notecard h2 {
  font-size: 1.5rem;
  margin-bottom: .5rem;
}

.notebook-light .main-content .notecard .notecard-taskbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.notebook-light .main-content .notecard .icon {
  cursor: pointer;
}

.notebook-light .main-content .notecard .colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.notebook-light .main-content .notecard .circle {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: solid 1px;
  margin-left: 1.5px;
  margin-right: 1.5px;
  cursor: pointer;
}

.notebook-light .main-content .acct-settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.notebook-light .main-content .acct-settings h1 {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.notebook-light .main-content .acct-settings form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.notebook-light .main-content .acct-settings form input {
  margin: .75rem;
}

.notebook-light .main-content .acct-settings form h2 {
  margin-bottom: .3rem;
}

.notebook-light .main-content h3 {
  color: grey;
  margin-bottom: 1.2rem;
}

.notebook-light input {
  margin: 2rem;
  border: 1px solid;
  border-radius: 10px;
  height: 1.5rem;
  width: 90%;
  padding: .5rem;
}

.notebook-light button {
  color: gray;
  margin-top: .3rem;
  text-align: center;
  border: 1px solid;
  border-radius: 10px;
  height: 2rem;
  width: 10rem;
}

.notebook-light select {
  color: gray;
  text-align: center;
  border: 1px solid;
  border-radius: 10px;
  height: 2.6rem;
  width: 100%;
  padding: .5rem;
}

.notebook-light .modal {
  background-color: #e9e8e8;
}

.notebook-light .modal textarea {
  color: #303030;
  background-color: #e9e8e8;
}

.notebook-light .modal input {
  background-color: #e9e8e8;
}

.notebook-light .modal ::-webkit-scrollbar-track {
  background: #e9e8e8;
}

.notebook-light .modal ::-webkit-scrollbar-thumb {
  background: #e6e6e6;
}

.notebook-light .modal ::-webkit-scrollbar-thumb:hover {
  background: #e6e6e6;
}

.notebook-light .new-note form input, .notebook-light .new-note form textarea {
  border-color: #e6e6e6;
}

.notebook-light .main-content {
  background-color: #e9e8e8;
}

.notebook-light .main-content .white {
  border-color: #e6e6e6;
  background-color: whitesmoke;
}

.notebook-light .main-content .red {
  border-color: #c18686;
  background-color: #d79494;
}

.notebook-light .main-content .green {
  border-color: #b0d7aa;
  background-color: #bce6b6;
}

.notebook-light .main-content .blue {
  border-color: #9397d7;
  background-color: #a4a9f0;
}

.notebook-light .main-content .yellow {
  border-color: #d0d0a8;
  background-color: #e3e3b6;
}

.notebook-light input {
  color: #303030;
  border-color: #e6e6e6;
  background-color: #d7d7d7;
}

.notebook-light button {
  border-color: #e6e6e6;
  background-color: white;
}

.notebook-light button:hover {
  background-color: whitesmoke;
}

.notebook-light select {
  color: #303030;
  border-color: #e6e6e6;
  background-color: #d7d7d7;
}

.App {
  overflow-x: hidden;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 2rem;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: .8rem;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  overflow: wrap;
}

pre {
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  word-wrap: break-word;
  white-space: pre-wrap;
  height: 13rem;
}

.loading-dark {
  width: 100vw;
  height: 100vh;
  background-color: #303030;
}

.loading-light {
  width: 100vw;
  height: 100vh;
  background-color: whitesmoke;
}

#pinned {
  font-weight: bold;
}

.hidden {
  opacity: 0;
}
/*# sourceMappingURL=style.css.map */