/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.login-light {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: whitesmoke;
}

.login-light img {
  margin-top: -4rem;
  margin-bottom: 2.5rem;
}

.login-light input {
  text-align: center;
  margin: .3rem;
  border: 1px solid;
  border-radius: 10px;
  height: 1.5rem;
  padding: .5rem;
}

.login-light button {
  color: gray;
  margin-top: .3rem;
  text-align: center;
  border: 1px solid;
  border-color: #e6a7a7;
  border-radius: 10px;
  height: 2rem;
}

.login-light p {
  color: #ac6767;
}

.login-light #login {
  width: 10.5rem;
  margin-top: 1rem;
}

.login-light #signup {
  width: 10.5rem;
  border-color: #84bfd9;
}

.login-light input {
  border-color: #e6e6e6;
}

.login-light button {
  background-color: white;
}

.login-light button:hover {
  background-color: whitesmoke;
}

.login-dark {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #303030;
}

.login-dark img {
  margin-top: -4rem;
  margin-bottom: 2.5rem;
}

.login-dark input {
  text-align: center;
  margin: .3rem;
  border: 1px solid;
  border-radius: 10px;
  height: 1.5rem;
  padding: .5rem;
}

.login-dark button {
  color: gray;
  margin-top: .3rem;
  text-align: center;
  border: 1px solid;
  border-color: #e6a7a7;
  border-radius: 10px;
  height: 2rem;
}

.login-dark p {
  color: #ac6767;
}

.login-dark #login {
  width: 10.5rem;
  margin-top: 1rem;
}

.login-dark #signup {
  width: 10.5rem;
  border-color: #84bfd9;
}

.login-dark input {
  color: #cdcdcd;
  border-color: #393939;
  background-color: #282828;
}

.login-dark button {
  background-color: #282828;
}

.login-dark button:hover {
  background-color: #393939;
}

.signup-dark {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #303030;
}

.signup-dark input {
  text-align: center;
  margin: .3rem;
  border: 1px solid;
  border-radius: 10px;
  height: 1.5rem;
  padding: .5rem;
}

.signup-dark button {
  color: gray;
  margin-top: .3rem;
  text-align: center;
  border: 1px solid;
  border-radius: 10px;
  height: 2rem;
  width: 6rem;
}

.signup-dark p {
  color: #ac6767;
}

.signup-dark input {
  color: #cdcdcd;
  border-color: #393939;
  background-color: #282828;
}

.signup-dark button {
  border-color: #393939;
  background-color: #282828;
}

.signup-dark button:hover {
  background-color: #393939;
}

.signup-light {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: whitesmoke;
}

.signup-light input {
  text-align: center;
  margin: .3rem;
  border: 1px solid;
  border-radius: 10px;
  height: 1.5rem;
  padding: .5rem;
}

.signup-light button {
  color: gray;
  margin-top: .3rem;
  text-align: center;
  border: 1px solid;
  border-radius: 10px;
  height: 2rem;
  width: 6rem;
}

.signup-light p {
  color: #ac6767;
}

.signup-light input {
  border-color: #e6e6e6;
}

.signup-light button {
  border-color: #e6e6e6;
  background-color: white;
}

.signup-light button:hover {
  background-color: whitesmoke;
}

.notebook-dark {
  min-height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  color: #cdcdcd;
  background-color: #303030;
}

.notebook-dark .column-left {
  position: -webkit-sticky;
  position: sticky;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  min-width: 20rem;
}

.notebook-dark .column-left img {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.notebook-dark .column-left h1 {
  margin-bottom: 2rem;
}

.notebook-dark .column-left #new-note {
  border-color: #84bfd9;
  margin-bottom: 2rem;
  height: 2.5rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.notebook-dark .column-left #new-note span {
  font-size: 2rem;
  margin-right: .5rem;
}

.notebook-dark .main-content {
  min-height: 100vh;
  width: 100vw;
  min-width: 40rem;
}

.notebook-dark .main-content .pinned {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 3.2rem;
  padding-right: 3.2rem;
  margin-bottom: 3rem;
}

.notebook-dark .main-content .unpinned {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 3.2rem;
  padding-right: 3.2rem;
  margin-bottom: 3rem;
}

.notebook-dark .main-content .note-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.notebook-dark .main-content .notecard {
  text-align: left;
  width: 15rem;
  min-height: 18rem;
  border: 1px solid;
  border-radius: 10px;
  padding: 15px;
}

.notebook-dark .main-content .notecard h2 {
  font-size: 1.5rem;
  margin-bottom: .5rem;
}

.notebook-dark .main-content h3 {
  color: grey;
  margin-bottom: 1.2rem;
}

.notebook-dark input {
  margin: 2rem;
  border: 1px solid;
  border-radius: 10px;
  height: 1.5rem;
  width: 90%;
  padding: .5rem;
}

.notebook-dark button {
  color: gray;
  margin-top: .3rem;
  text-align: center;
  border: 1px solid;
  border-radius: 10px;
  height: 2rem;
  width: 10rem;
}

.notebook-dark .main-content {
  background-color: #282828;
}

.notebook-dark .main-content .white {
  border-color: #393939;
  background-color: #303030;
}

.notebook-dark .main-content .red {
  border-color: #4f1e1e;
  background-color: #411818;
}

.notebook-dark .main-content .green {
  border-color: #1e4f20;
  background-color: #1d4118;
}

.notebook-dark .main-content .blue {
  border-color: #1e244f;
  background-color: #181b41;
}

.notebook-dark .main-content .yellow {
  border-color: #4d4f1e;
  background-color: #414118;
}

.notebook-dark input {
  color: #cdcdcd;
  border-color: #393939;
  background-color: #282828;
}

.notebook-dark button {
  border-color: #393939;
  background-color: #282828;
}

.notebook-dark button:hover {
  background-color: #393939;
}

.notebook-light {
  min-height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  color: #303030;
  background-color: whitesmoke;
}

.notebook-light .column-left {
  position: -webkit-sticky;
  position: sticky;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  min-width: 20rem;
}

.notebook-light .column-left img {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.notebook-light .column-left h1 {
  margin-bottom: 2rem;
}

.notebook-light .column-left #new-note {
  border-color: #84bfd9;
  margin-bottom: 2rem;
  height: 2.5rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.notebook-light .column-left #new-note span {
  font-size: 2rem;
  margin-right: .5rem;
}

.notebook-light .main-content {
  min-height: 100vh;
  width: 100vw;
  min-width: 40rem;
}

.notebook-light .main-content .pinned {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 3.2rem;
  padding-right: 3.2rem;
  margin-bottom: 3rem;
}

.notebook-light .main-content .unpinned {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 3.2rem;
  padding-right: 3.2rem;
  margin-bottom: 3rem;
}

.notebook-light .main-content .note-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.notebook-light .main-content .notecard {
  text-align: left;
  width: 15rem;
  min-height: 18rem;
  border: 1px solid;
  border-radius: 10px;
  padding: 15px;
}

.notebook-light .main-content .notecard h2 {
  font-size: 1.5rem;
  margin-bottom: .5rem;
}

.notebook-light .main-content h3 {
  color: grey;
  margin-bottom: 1.2rem;
}

.notebook-light input {
  margin: 2rem;
  border: 1px solid;
  border-radius: 10px;
  height: 1.5rem;
  width: 90%;
  padding: .5rem;
}

.notebook-light button {
  color: gray;
  margin-top: .3rem;
  text-align: center;
  border: 1px solid;
  border-radius: 10px;
  height: 2rem;
  width: 10rem;
}

.notebook-light .main-content {
  background-color: #e9e8e8;
}

.notebook-light .main-content .white {
  border-color: #e6e6e6;
  background-color: whitesmoke;
}

.notebook-light .main-content .red {
  border-color: #c18686;
  background-color: #d79494;
}

.notebook-light .main-content .green {
  border-color: #b0d7aa;
  background-color: #bce6b6;
}

.notebook-light .main-content .blue {
  border-color: #9397d7;
  background-color: #a4a9f0;
}

.notebook-light .main-content .yellow {
  border-color: #d0d0a8;
  background-color: #e3e3b6;
}

.notebook-light input {
  color: #303030;
  border-color: #e6e6e6;
  background-color: #d7d7d7;
}

.notebook-light button {
  border-color: #e6e6e6;
  background-color: white;
}

.notebook-light button:hover {
  background-color: whitesmoke;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 2rem;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: .8rem;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}
/*# sourceMappingURL=style.css.map */