@import './cleanup';
@import './login-light';
@import './login-dark';
@import './signup_dark';
@import './signup_light';
@import './notebook-dark';
@import './notebook-light';

.App {
    overflow-x: hidden;

}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2rem;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8rem;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

.loading-dark {
    width: 100vw;
    height: 100vh;
    background-color: rgb(48, 48, 48);
}

.loading-light {
    width: 100vw;
    height: 100vh;
    background-color: rgb(245, 245, 245);
}

#pinned {
    font-weight: bold;
}